@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.main {
    width: 45%;
    font-size: 0.9rem;
    margin: 2rem auto;
}


.pic {
    width: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.name {
    font-size: 40px;
    padding: 20px 0 10px 0;
    font-weight: 900;
}

.designation {
    font-size: 20px;
    padding-bottom: 10px;

}

.links {
    padding-top: 5px;
}

.main .links a {
    font-size: 1.5rem;
    padding: 0 7px;
}

.links a i {
    color: rgb(116, 123, 136);
    border: 1px solid rgb(223, 226, 230);

    font-size: 22px;
    border-radius: 20%;
    height: 24px;
    width: 24px;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.links a i:hover {
    cursor: pointer;
    transition: 350ms;
    color: rgb(85, 90, 97);
    background-color: rgb(236, 238, 243)
}

a {
    text-decoration: none;
}

li {
    padding-bottom: 10px;
}

.skills div {
    padding-bottom: 13px;
}

.title {
    font-size: 1.3rem;
}

.title-item {
    flex-wrap: wrap;
    display: grid;
    gap: 1rem;

}

.mini-card {
    border: 1px solid rgb(223, 226, 230);
    border-radius: 6px;
    padding: 12px 8px;
}

.mini-card .title {
    font-size: 0.95rem;
    padding-bottom: 8px;
    font-weight: 600;
    color: black;
}

.mini-card button {
    width: 65px;
    padding: 6px;
    margin-top: 12px;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 900;
    border: 1px solid rgb(223, 226, 230);
    background-color: rgb(255, 255, 255);
}

.mini-card .text {
    font-size: 0.8rem;
}

.mini-card button:hover {
    background-color: rgb(236, 238, 243);
    transition: 350ms;
    cursor: pointer;

}

.mini-card button:hover i {
    padding-left: 5px;
    transition: 350ms;
}

.highlight {
    padding: 4px;
    margin: 3px 0;
    border-radius: 4px;
    font-size: 0.65rem;
    font-weight: 600;
    max-width: fit-content;
    display: inline-flex;

    color: black;
    background-color: rgb(236, 236, 236);
}

.main h2 {
    font-size: 1.3rem;
}

@media(max-width:1080px) {
    .main {
        width: 60vw;
    }
}

@media(max-width:780px) {
    .main {
        width: 80vw;
    }
}

@media(max-width:480px) {
    .main {
        width: 90vw;
    }
}

@media (min-width: 520px) {
    .title-item {
        grid-template-columns: repeat(2, 1fr);
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-justify {
    text-align: justify;
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.muted {
    color: hsl(220 8.9% 46.1%);

}

.pb-10 {
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}